body
{
  margin: 0;
  background-color: #333;
}
.container
{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 445px;
}
#card-container
{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 445px;
  padding: 0;
  list-style-type: none;
}
#card-container li
{
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  font-size: 70px;
  font-weight: 700;
  color: #fff;
}
#card-container li span
{
  cursor: pointer;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 15px;
  opacity: 1;
  background-color: #e5e5f7;
  background: linear-gradient(135deg, #444cf755 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #444cf7 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #444cf755 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #444cf7 25%, #e5e5f7 25%) 0px 0/ 20px 20px;
  transition: opacity .3s ease-in-out;
}
#card-container li span.opacity0
{
  opacity: 0;
}
button
{
  cursor: pointer;
  border: 2px solid #f80;
  border-radius: 10px;
  padding: 15px;
  font-size: 40px;
  font-weight: 700;
  color: #444cf7;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}
button.show-btn
{
  opacity: 1;
}
